@model StoreFront.Models.Product

@{
    ViewData["Title"] = "New Product";
    Layout = "_Layout";
}

<div class="container">
    <h2> Enter Product Information </h2>
    @using (Html.BeginForm())
    {
        <p>
            Name
            @Html.TextBoxFor(model => model.Name)
        </p>

        <p>
            Description
            @Html.TextBoxFor(model => model.Description)
        </p>

        <p>
            Price (In USD Cents)
            @Html.EditorFor(model => model.Price)
        </p>

        <button class="btn btn-success" type="submit">Submit</button>
    }
    <hr />
    <button class="btn btn-warning" onclick="location.href='@Url.Action("Index")'">Cancel</button>
</div>
