@model IEnumerable<Gummi.Models.Product>

@{
    ViewData["Title"] = "Gummi Bear Kingdom - Products";
    Layout = "_Layout";
}

<div class="container">
    <button class="btn btn-warning" onclick="location.href='@Url.Action("index", "Home")'">Return Home</button>
    <button class="btn btn-success" onclick="location.href='@Url.Action("Create")'">Add Product</button>

    @foreach (var product in Model)
    {
        <div class="product panel panel-default">
            <div class="panel-heading">
                <h2>@Html.ActionLink(product.Name, "details", new { id = product.Id })</h2>
            </div>
            <div class="panel-body">
                <h3>Price: @product.DisplayPrice("$")</h3>
            </div>
        </div>
    }
</div>