@{
    ViewData["Title"] = "Gummi - Home";
    Layout = "_Layout";
}

<h1>Gummi Kingdom</h1>

<p>@Html.ActionLink("Locations Visited", "Index", "Locations")</p>
<p>@Html.ActionLink("Experiences Had", "Index", "Experiences")</p>
<p>@Html.ActionLink("People", "Index", "People")</p>
